
@{
    ViewBag.Title = "Excellence Eduaction Analytics";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}


    <style>
        .img-circle {
            border-radius: 50%;
        }
    </style>



    <div class="about" id="about">
        <div class="container">
            <div class="about-main">
                <div class="changer-main">
                    <span class="devide-line w3-agile"> </span>
                    <div class="about-block">
                        <div class="changer-left wow bounceInLeft" data-wow-delay="0.1s">
                            <h3>ADMIN</h3>
                            <p>
                                Centralized system where the Administrator at the institution will have full access to make necessary changes to the solution including user audit logs to track activity of each user.
                            </p><br />
                            <h4>Admin Responsibilities :</h4>
                            <ul>
                                <li>Handling relations with students, employers, and the community.</li>
                                <li>Managing budgets and ensuring financial systems are followed.</li>
                                <li>Overseeing record-keeping.</li>
                                <li>Managing student services such as guidance programs.</li>
                                <li>Contributing to policy and planning.</li>
                                <li>Assisting with recruitment, public or alumni relations and marketing activities.</li>
                                <li>Providing administrative support to an academic team of lecturers, tutors or teachers.</li>

                            </ul>
                        </div>
                        <div class="changer-right wow bounceInRight" data-wow-delay="0.1s">
                            <img src="@Url.Content("~/Content/mytemplate/")images/admin1.png" height="350" width="350" alt="">
                        </div>
                        <div class="clearfix"> </div>
                        <div class="ch-bott1 agile">
                            <span class="botted"> </span>
                        </div>
                    </div>
                    <div class="about-block-snd">
                        <div class="changer-left-snd wow bounceInLeft" data-wow-delay="0.1s">
                            <img src="@Url.Content("~/Content/mytemplate/")images/teacher.png" height="350" width="350" alt="">
                        </div>
                        <div class="changer-right-snd wow bounceInRight" data-wow-delay="0.1s">
                            <h3>TEACHERS</h3>

                            <p>Now teachers can be efficient in tracking the performance of the children in real-time. No more manual work for teachers.</p>
                            <br /><br />
                            <h4>Teachers Responsibilities :</h4>
                            <ul>
                                <li>Classroom management and organization.</li>
                                <li>Planning and organizing for instruction.</li>
                                <li>Implementing instruction.</li>
                                <li>Monitoring student progress and potential.</li>
                                <li>Professionalism.</li>
                                <li>Assume collective responsibility for student success.</li>
                                <li>Engage in effective collaborative learning.</li>



                            </ul>
                        </div>
                        <div class="clearfix"> </div>
                        <div class="ch-bott1 agile">
                            <span class="botted"> </span>
                        </div>
                    </div>
                    <div class="about-block agileits-w3layouts">
                        <div class="changer-left-trd wow bounceInLeft" data-wow-delay="0.1s">
                            <h3>STUDENT</h3>
                            <p>
                                Login to EEA to have complete insight of your current academic performance, subjects / course status, assignments, quizzes results, upcoming notifications, videos and articles etc.
                            </p><br />
                            <h4>Students Responsibilities :</h4>
                            <ul>
                                <li>Demonstrate academic integrity and honesty.</li>
                                <li>Complete the assigned work in a timely manner with attention to quality of work.</li>
                                <li>Attend and participate in classes, labs, and seminars, prepared and on time.</li>
                                <li>Respect diverse ideas and opinions.</li>
                                <li>Identify, develop, and implement a plan to achieve their educational goals.</li>



                            </ul>
                        </div>
                        <div class="changer-right-trd wow bounceInRight" data-wow-delay="0.1s">
                            <img src="@Url.Content("~/Content/mytemplate/")images/student.png" height="350" width="350" alt="">
                        </div>
                        <div class="clearfix"> </div>
                        <div class="ch-bott1 w3-agile">
                            <span class="botted"> </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--about end here-->
    <!--services strat here-->
    <div class="services" id="services">
        <div class="container">
            <div class="service-main">
                <div class="w3ser-top w3-agileits">
                    <h3>IDEA OF STANDARDIZATION</h3>
                </div>
                <div class="service-bottom agileits-w3layouts-bottom">
                    <div class="col-md-6 ser-left wow bounceInLeft" data-wow-delay="0.1s">
                        <img src="@Url.Content("~/Content/mytemplate/")images/mobile.png" alt="">
                    </div>
                    <div class="col-md-6 ser-right wow bounceInRight" data-wow-delay="0.1s">
                        <p>
                            EEA AIMS TO REVOLUTIONIZE THE WAY ENGAGEMENT IS PERCEIVED AND PRACTICED IN AN EDUCATIONAL INSTITUTE. EEA ENVISIONS ENABLING GREATER COLLABORATION AND COMMUNICATION WITHIN A SCHOOL SYSTEM, BETWEEN THE ADMINISTRATION AND TEACHING STAFF, AS WELL AS, WITH A SCHOOL’S MAIN STAKEHOLDERS I.E. THE PARENTS AND STUDENTS. OPEN COMMUNICATION CHANNELS IN REAL-TIME LEAD TO BETTER MANAGEMENT AND ACCOUNTABILITY SYSTEMS IN PLACE.
                        </p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>
    <!--services end here-->
    <!--gallery start here-->
    <div class="gallery" id="gallery">
        <div class="container">
            <div class="gallery-main w3-agileits">
                <div class="gallery-top-w3ls">
                    <h3>Gallery</h3>
                </div>
                <div class="gallery-bottom agileits-w3layouts">
                    <!---->
                    <ul id="flexiselDemo3">
                        <li><img src="@Url.Content("~/Content/mytemplate/")images/mb2.png" class="img-responsive" alt="" /></li>
                        <li><img src="@Url.Content("~/Content/mytemplate/")images/mb1.png" class="img-responsive" alt="" /></li>
                        <li><img src="@Url.Content("~/Content/mytemplate/")images/.png" class="img-responsive" alt="" /></li>
                        <li><img src="@Url.Content("~/Content/mytemplate/")images/.png" class="img-responsive" alt="" /></li>
                    </ul>
                </div>
                <script type="text/javascript">
                    $(window).load(function () {

                        $("#flexiselDemo3").flexisel({
                            visibleItems: 3,
                            animationSpeed: 1000,
                            autoPlay: true,
                            autoPlaySpeed: 3000,
                            pauseOnHover: true,
                            enableResponsiveBreakpoints: true,
                            responsiveBreakpoints: {
                                portrait: {
                                    changePoint: 480,
                                    visibleItems: 1
                                },
                                landscape: {
                                    changePoint: 640,
                                    visibleItems: 2
                                },
                                tablet: {
                                    changePoint: 768,
                                    visibleItems: 2
                                }
                            }
                        });

                    });
                </script>
                <script type="text/javascript" src="@Url.Content("~/Content/mytemplate/")js/jquery.flexisel.js"></script>
            </div>
        </div>
    </div>
    <!--gallery end here-->
    <!--features start here-->
    <div class="features" id="features">
        <div class="container">
            <div class="features-main">
                <div class="features-top w3-agile">
                    <h2>Features</h2>
                </div>
                <div class="features-bottom">
                    <div class="col-md-6 features-left wthree">
                        <div class="fea-agileits wow bounceInLeft" data-wow-delay="0.1s">
                            <div class="fea-left-top">
                                <h3>MOBILE</h3>


                                <p>Now everything is at your fingertips, use EEA Portals at any where any time any place and keep updated about your academic updates. </p>
                            </div>
                            <div class="fea-left-bott">
                                <h4>DESKTOP</h4>
                                <br />
                                <p>For teachers using the solution at workplace, it allows them to keep records of daily updates in the EEA portal system at class,faculty areas or at ease in their homes.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 features-right wthree">
                        <div class="fea-agileits-rit wow bounceInRight" data-wow-delay="0.1s">
                            <div class="fea-rit-top">
                                <h3>TABLET</h3>

                                <p>Management can view reports at their ease at any time now and can monitor test results,daily attendance and much more. </p>
                            </div>
                            <div class="fea-rit-bott">
                                <h4>LARGE DESKTOP</h4>
                                <br />
                                <p> Management,teachers,faculty or even parents can use EEA Portal's precise reporting to discuss MASS results with high quality data filtering system.</p>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!--features end here-->
    <!--quotation start here-->

<div class="gallery-main w3-agileits">
    <div class="gallery-top-w3ls">
        <h3>Our Team</h3>
    </div></div>
    <div class="row" id="row">
        <div class="col-md-3">
            <center><img src="@Url.Content("~/Content/mytemplate/")images/ali.jpg" class="img-circle" alt=" " height="190"width="172"/></center>
            <br /><br/>
           
            <center><h4>Ali Azeem Rana </h4></center>
                
                    <center><h4 style="color:orange;">(Developer)</h4></center>
                        <br />
                        <center>
                            <p>
                               " Director jobs typically lead large groups of employees that work directly under their guidance.
                                Directors make sure that employees work together for the good of the company, ensure that company policy is upheld."
                            </p>
                        </center>

</div>
        <div class="col-md-3">
            <center><img src="@Url.Content("~/Content/mytemplate/")images/a.png" class="img-circle" alt=" " height="190" width="172" /></center>
            <br /><br />
           
            <center><h4>Muhammad Bilal </h4></center>
           
            <center><h4 style="color:orange;">(Senior Developer)</h4></center>
            <br />
           <center><p>"A chief executive officer (CEO) is the highest-ranking executive in a company, and their primary responsibilities
             include making major corporate decisions, managing the overall operations and resources of a company." 
            </p></center>

        </div>

        <div class="col-md-3">
           <center><img src="@Url.Content("~/Content/mytemplate/")images/tmm3.jpg" class="img-circle" alt="" height="190" width="172" /></center>
            <br /><br />
            
                <center><h4>Byran Smith </h4></center>
                   
                        <center><h4 style ="color:orange;">(Chairman)</h4></center>
                            <br />
                            <center> <p>
                                    "A chairman is an executive elected by a company's board of directors that is responsible for presiding
                                    over board or committee meetings. The chairman ensures that the meetings run smoothly and remain orderly."
                                   
                                </p></center>
</div>

        <div class="col-md-3">
           <center><img src="@Url.Content("~/Content/mytemplate/")images/tmm4.jpg" class="img-circle" alt=" " height="190" width="172" /></center>
            <br /><br />
             
                   <center><h4>Allan lewis </h4></center>
                      
                           <center><h4 style="color:orange;">(Assistant Director)</h4></center>
                               <br />
           
                               <center><p>
                                      " The role of an assistant director on a film includes tracking daily progress against the filming production schedule,
                                       arranging logistics, preparing daily call sheets, checking cast and crew,
                                       and maintaining order on the set."
                                   </p></center>
</div>


    </div>
<br /><br /><br />


    @*<div class="quotation wow bounceInLeft" data-wow-delay="0.1s" id="quotation">
        <div class="container">


            <div class="quotation-main agileinfo">

                <div class="gallery-main w3-agileits">
                    <div class="gallery-top-w3ls">
                        <h3>Our Team</h3>
                    </div>
                    <img src="@Url.Content("~/Content/mytemplate/")images/quota.png" alt="">

                    <p>
                        EEA TEAM COMPRISES OF PROFESSIONALS FROM DIFFERENT RELEVANT FIELDS, BRINGING IN THEIR EXPERTISE AND EXPERIENCE DURING DIFFERENT STAGES OF THE PRODUCT DEVELOPMENT PROCESS.
                        A SUB-TEAM OF IT SPECIALISTS HAS DEVELOPED THE PRODUCT FROM THE TECHNICAL FRONT.
                        A SUBJECT MATTER EXPERT WITH A BACKGROUND OF EDUCATIONAL LEADERSHIP HAS WORKED ON THE PRODUCT
                        TO GIVE THEIR EXPERTISE FROM A PRACTITIONER’S PERSPECTIVE. THIS IS THE REASON THAT THE PRODUCT
                        IS USER FRIENDLY AND HAS AN INTERACTIVE INTERFACE THAT EDUCATIONIST AND PRACTITIONERS ARE NOT INTIMIDATED TO USE.
                    </p>

                </div>
            </div>
        </div></div>*@
    <!--auotation end here-->
    <!--contact start here-->
    <div class="contact wthree" id="contact">
        <div class="container">
            <div class="contact-main">
                <div class="contact-top">
                    <h3>Contact Us</h3>
                </div>
                <div class="contact-bottom">
                    <div class="contact-left agileinfo wow bounceInLeft" data-wow-delay="0.1s">
                        <h4>Contact Info</h4>
                        <form action="#" method="post">
                            <input type="text" name="Name" placeholder="Name" required="">
                            <input type="text" name="Email" placeholder="Email" required="">
                            <input type="text" name="Subject" placeholder="Subject" required="">
                            <textarea name="Message" placeholder="Message" required=""></textarea>
                            <input type="submit" value="Send">
                        </form>
                    </div>
                    <div class="contact-right agileinfo wow bounceInRight" data-wow-delay="0.1s">
                        <div class="contact-rit-info wthree">
                            <h4>Address</h4>
                            <p>Level 1, Shahbaz Bukhari Plaza </p>
                            <p>3 fane Road, Mall Road</p>
                            <p>Lahore, Punjab</p>
                            <p>Pakistan</p>
                            <p>Phone: +92 423-723-1006</p>
                            <p>Mobile: +92 321-451-8884</p>
                            <p>WhatsApp: +92 321-451-8884</p>
                            <p>Email : <a href="mailto:hello@leemutech.com">hello@leemutech.com</a></p>
                        </div>
                        <div class="social-icons">
                            <h4>Follow us :</h4>
                            <ul>
                                <li><a href="https://www.facebook.com"><span class="fb"> </span> </a></li>
                                <li><a href="http://www.twiter.com"><span class="twit"> </span></a></li>
                                <li><a href="http://www.Gmail.com"><span class="gmail"> </span></a></li>
                                <li class="no-mar"><a href="http://www.pinterest.com"><span class="pin"> </span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>

